<section data-ng-controller="HomeController">

    <!-- Custom styles for this template -->
    <link href="/modules/core/css/carousel.css" rel="stylesheet">
    <link href="/modules/core/css/custom.css" rel="stylesheet">

<!-- NAVBAR
================================================== -->


    <!-- Header -->
    <div class="header">
        <img src="/modules/core/img/RR_logo_horizontal.jpg">
    </div>


  <!-- Main Content -->
    <div class="main container">
        <div class="main content">
            <h1>The future for your business</h1>
            <p class="main content paragraph">
                We allow retailers to track consumers<br>
                moving through their spaces to increase<br>
                sales and improve marketing.
            </p>
            <br><br>
            <button ng-click="go('/dashboard')" class="btn">Dashboard</button>
        </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
            <img src="/modules/core/img/ticker.png" style="width: 175px; height: 140px;">
          <h2>Marketing</h2>
          <br>
          <p>Boost sales with personalized <br>
             messages sent in real time</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="/modules/core/img/chart.png" style="width: 175px; height: 140px;">
          <h2>Analytics</h2>
          <br>
          <p>Understand your customers and <br>
             visitors with data driven insights</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="/modules/core/img/check.png" style="width: 175px; height: 140px;">
          <h2>Operations</h2>
          <br>
          <p>Cut costs by optimizing staffing <br>
             and space layouts</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">The solution: <span class="text-muted">There's nothing quite like it.</span></h2>
          <p class="lead">A comprehensive technology and data driven solution that uses your existing wireless infrastructure, to understand the customer traffic flow and location to better help your understand your customer patterns.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image" data-src="holder.js/500x500/auto" alt="500x500" src="/modules/core/img/piOutside.JPG" data-holder-rendered="true" style="height:500px; width:500px;">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image" data-src="holder.js/500x500/auto" alt="400x400" src="/modules/core/img/algorithms.JPG" style="height:400px; width:400px;" data-holder-rendered="true">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Big Data Analytics: <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Advanced algorithms to uncover deep insights. Deliver precision marketing via our cloud platform. Transform your stores into smart stores and turn every square inch of real estate into a context-sensitive insight gathering medium. Engage and reward your customers by offering a memorable shopping experience.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Deliver amazing customer experience: <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Auto personalize all in-store interactions to make them more meaningful and friendly. Easy to use interface for creating automated multi-step engagement campaigns</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image" data-src="holder.js/500x500/auto" alt="500x500" src="/modules/core/img/happyCustomer.JPG"  data-holder-rendered="true">
        </div>
      </div>

      <hr class="featurette-divider">

      <button ng-click="go('/dashboard')" class="btn-block">Try Us Out!</button>

      <br><br><br><br><br>

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2014 Retail Rocket · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/landing/css/bootstrap.min.js"></script>


<div id="global-zeroclipboard-html-bridge" class="global-zeroclipboard-container" style="position: absolute; left: 0px; top: -9999px; width: 15px; height: 15px; z-index: 999999999;" title="" data-original-title="Copy to clipboard">
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" id="global-zeroclipboard-flash-bridge" width="100%" height="100%">

<param name="movie" value="/assets/flash/ZeroClipboard.swf?noCache=1416696620538">

<param name="allowScriptAccess" value="sameDomain">

<param name="scale" value="exactfit">

<param name="loop" value="false">

<param name="menu" value="false">

<param name="quality" value="best">

<param name="bgcolor" value="#ffffff">

<param name="wmode" value="transparent">

<param name="flashvars" value="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com">
<embed src="/assets/flash/ZeroClipboard.swf?noCache=1416696620538" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="100%" height="100%" name="global-zeroclipboard-flash-bridge" allowscriptaccess="sameDomain" allowfullscreen="false" type="application/x-shockwave-flash" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com" scale="exactfit">
</object>
</div><svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs></defs><text x="0" y="23" style="font-weight:bold;font-size:23pt;font-family:Arial, Helvetica, Open Sans, sans-serif;dominant-baseline:middle">500x500</text></svg>

</section>
