@font-face {
    font-family: "Roboto-Regular";
    src: url("Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("Roboto-Bold.ttf");
}

body {
    background-color: rgba(228, 228, 228, 1);
    font-family: "Roboto-Regular";
}
header {
    height: 60px;
    color: #FFF;
    padding: 0 30px;
    background-color: rgba(29,29,29,1);
}

header h1 {
    display: inline-block;
    margin: 0;
    line-height: 60px;
    font-size: 25px;
    text-transform: uppercase;
}
header .logo {
    display: inline-block;
    float: right;
    height: 60px;
    width: 180px;
    background: url('/images/logo_Top_Right.png') no-repeat;
}

.dashboard-sidebar {
    background-color: #FEFEFE;
    border: 1px solid #CCC;
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 225px;
    color: #999;
    margin: 20px;
}
.dashboard-sidebar ul {
    padding: 0;
}
.dashboard-sidebar li {
    list-style-type: none;
    height: 70px;
    line-height: 40px;
    font-size: 16px;
    padding: 15px 15px 15px 60px;
    background-position: 20px;
    background-repeat: no-repeat;
}
.dashboard-sidebar-active {
    background-color: rgba(55, 183, 191, 1);
    color: #FFF;
}
.dashboard-sidebar li:first-child {
    background-position: 30px;
    background-image: url('/images/icon_proximity.png');
}
.dashboard-sidebar li:last-child {
    background-image: url('/images/icon_traffic_analysis.png');
}

.dashboard-content {
    border: 1px solid #CCC;
    background-color: #FEFEFE;
    position: absolute;
    top: 60px;
    left: 265px;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.dashboard-content .nav {
    text-transform: uppercase;
}
.dashboard-content .nav a {
    color: #999;
    padding: 22px 45px;
    border-radius: 0;
    border-top: 3px solid transparent;
}
.dashboard-content .nav .active a,
.dashboard-content .nav .active a:hover {
    border-top: 3px solid rgba(55, 183, 191, 1);
    color: rgba(55, 183, 191, 1);
}

.nav a {
    cursor:pointer;
}

.location-dropdown {
    margin: 10px;
}

.dashboard-heatmap svg {
    display: block;
    margin: 0 auto;
}

.dashboard-filters {
    padding: 20px;
    background-color: #EEF4F5;
    margin-top: 10px;
}
.btn .caret {
    margin-left: 10px;
}

@media (max-width: 910px) {
    body {
        min-width: 640px;
    }
    .dashboard-sidebar {
        min-width: 600px;
        background-color: #FEFEFE;
        border: 1px solid #CCC;
        width: calc(100% - 40px);
        color: #999;
        margin: 20px;
        height: 71px;
    }
    .dashboard-sidebar li {
        display: inline-block;
        padding-right: 30px;
    }
    .dashboard-content {
        position: relative;
        min-width: 600px;
        top: 90px;
        bottom: 0;
        left: 0;
        margin: 20px;
    }
}
