body {
    background-color: rgba(228, 228, 228, 1);
}
header {
    height: 60px;
    color: #FFF;
    padding: 0 30px;
    background-color: rgba(29,29,29,1);
}

header h1 {
    display: inline-block;
    margin: 0;
    line-height: 60px;
    font-size: 25px;
}
header .logo {
    display: inline-block;
    float: right;
    height: 60px;
    width: 180px;
    background: url('/images/logo_Top_Right.png') no-repeat;
}

.dashboard-sidebar {
    background-color: #FEFEFE;
    border: 1px solid #CCC;
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 225px;
    color: #999;
    margin: 20px;
}
.dashboard-sidebar ul {
    padding: 0;
}
.dashboard-sidebar li {
    list-style-type: none;
    height: 70px;
    line-height: 40px;
    font-size: 18px;
    padding: 15px 15px 15px 60px;
    background-position: 20px;
    background-repeat: no-repeat;
}
.dashboard-sidebar-active {
    background-color: rgba(55, 183, 191, 1);
    color: #FFF;
}
.dashboard-sidebar li:first-child {
    background-position: 30px;
    background-image: url('/images/icon_proximity.png');
}
.dashboard-sidebar li:last-child {
    background-image: url('/images/icon_traffic_analysis.png');
}

.dashboard-content {
    border: 1px solid #CCC;
    background-color: #FEFEFE;
    position: absolute;
    top: 60px;
    left: 265px;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.dashboard-tabs {
    position: absolute;
    top: 60px;
    left: 265px;
    margin: 20px;
    right: 0;
}

.dashboard-tab-content {
    background-color: #FEFEFE;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    bottom: 0;
    right: 0;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("Roboto-Bold.ttf");
}

.dashboard-tab-header {
    font-family: "Roboto-Regular";
    font-size: 125%;
}

a {
    cursor:pointer;
}

.location-dropdown {
    margin: 10px;
}