<header>
    <h1>Dashboard</h1>
    <div class="logo"></div>
</header>
<section class="dashboard">
    <section class="dashboard-sidebar">
        <ul>
            <li class="dashboard-sidebar-active">Proximity</li>
            <li>Traffic Analysis</li>
        </ul>
    </section>
    <section class="dashboard-tabs">
	    <tabset>
	      <tab class="dashboard-tab-header" heading="REALTIME DATA" a>
	      	<section class="dashboard-tab-content">
    		    <div>
		      		<retail-rocket-heatmap></retail-rocket-heatmap>
	      		</div>
	      	</section>
	      </tab>
	      <tab class="dashboard-tab-header" heading="HISTORICAL DATA" a>
	      	<section class="dashboard-tab-content">
	      		Historical data content
      		</section>
      	</tab>
	    </tabset>
    </section>
</section>
