<header>
    <h1>Dashboard</h1>
    <div class="logo"></div>
</header>
<section class="dashboard">
    <section class="dashboard-sidebar">
        <ul>
            <li class="dashboard-sidebar-active">Proximity</li>
            <li>Traffic Analysis</li>
        </ul>
    </section>
    <section class="dashboard-content">
	    <tabset>
	      <tab class="dashboard-tab-header" heading="Realtime Data" a>
	      	<section class="dashboard-tab-content">
    		    <div>
                    <div class="dashboard-filters" dropdown is-open="status.isopen">
                      <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                        MakeWorks<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li class="divider"></li>
                        <li><a href="#">+ Add Venue</a></li>
                      </ul>
                    </div>
		      		<retail-rocket-heatmap class="dashboard-heatmap"></retail-rocket-heatmap>
	      		</div>
	      	</section>
	      </tab>
	      <tab class="dashboard-tab-header" heading="Historical Data" a>
	      	<section class="dashboard-tab-content">
    		    <div>
                    <div class="dashboard-filters" dropdown is-open="status.isopen">
                      <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                        MakeWorks<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li class="divider"></li>
                        <li><a href="#">+ Add Venue</a></li>
                      </ul>
                      <div ng-controller="HistoricalDataController" class="btn-group">
                          <label class="btn btn-default" ng-model="radioModel" btn-radio="'Hourly'">Hourly</label>
                          <label class="btn btn-default" ng-model="radioModel" btn-radio="'Daily'">Daily</label>
                      </div>
                      <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                        on November 23, 2014<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li class="divider"></li>
                        <li><a href="#">+ Add Venue</a></li>
                      </ul>
                      <!--<slider ng-model="sliders.sliderValue" min="{{testOptions.min}}" step="{{testOptions.step}}" max="{{testOptions.max}}" value="{{testOptions.value}}"></slider>-->
                    </div>
		      		<retail-rocket-historical-heatmap class="dashboard-heatmap"></retail-rocket-historical-heatmap>
	      		</div>
      		</section>
      	</tab>
	    </tabset>
    </section>
</section>
